body{
 background-image:url("6.jpg");
 font-family: Monoserrat, serif;
}

/* navbar */

.navbar-title{
    padding: 40px 40px 0 40px;
}
.navbar-header{
    font-size: 10px;
}
.navbar-brand{
    font-size: 30px;
}
.nav-item{
    padding: 0 5px;
}

/* store */

.container{
 margin: 100px;
 color: #fff;
 font-size: 20px;
}

.card {
    align-items: center;
    min-width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    justify-content: center;
    background-color: rgb(0, 0, 0, .5);
}

.cards{
    padding: 20px;
    border-radius: 10%;
}
.btn{

    margin: 15px 60px 15px 0;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color:#00ff7f;
    color: #000;
    font-size: 20px;

}
.a1{
    padding-left: 100px;

}

/* form */


.form{

    width: 450px;
    height: 600px;
    background-color: rgb(0, 0, 0, .5);
    margin: 150px auto 0 auto;
    text-align: center;
    box-shadow: 0 -5px 0 #00ff7f;
    border-radius: 0 0 10px 10px;
    padding-bottom: 20px;
    color: #fff;
}
.title{
    padding: 40px;
}
.enter_name{
    padding-top: 17px;
    font-family: Times, Times New Roman, serif;
    font-size: 19px;
}
.select{
    width: 200px;
    argin: 2px;
    padding: 5px;
}
.b1{
    padding: 20px;
}

/* buttom */

.btn_1{

 margin: 0 auto;
 display: block;
 width: 100px;
 height: 50px;
 text-align: center;
 background-color:#00ff7f;
 border-radius: 5px;
 font-size: 20px;
 color: #000;
}
.topNubex{
    font-size: 30px;
    color: #000;
    display: flex;
    margin: 25px 5px 0 0;
    box-sizing: border-box;
    background-color: #00ff7f;
    border-radius: 5%;
    width: 6%;
    padding: 10px;

}