body{

    margin: 40px;
    font-family: Monoserrat, serif;
    background-image: url("6.jpg");

}


.navbar-brand{

    font-size: 30px;
}
.nav-item{

    padding: 0 5px;
}
.container{

    display: flex;
    margin: 40px 80px auto 90px;
    color: #000;
    text-align: center;
    

}
.card_1{

   width: 18rem;
   height: 700px;
   margin: 25px 25px auto;
   background-color:#fff;
   border-radius: 10px;
}
.img_1{

    width: 200px;
    height: 200px;
    margin: 25px auto;
    border-radius: 10px;
}
.card_2{
   width: 18rem;
   height: 700px;
   margin: 25px 25px auto;
   background-color:#fff;
   border-radius: 10px;
}
.img_2{

    width: 200px;
    height: 200px;
    margin: 25px auto;
    border-radius: 10px;
}
.card_3{

   width: 18rem;
   height: 700px;
   margin: 25px 25px auto;
   background-color: #fff;
   border-radius: 10px;
}
.img_3{

    width: 200px;
    height: 200px;
    margin: 25px auto;
    border-radius: 10px;
}
.table{

    position: relative;
    top: 50px;
    left: 50px;
    width: 500px;
    background-color:#000;
    color: #fff;
    font-size: 17px;


}
.img{

    margin: 100px auto;
    background-image: url("5.jpg");
    height: 500px;
    float: left;
}
.button{

    position: relative;
    top: 50px;
    margin: 25px 50px 50px;
    height: 50px;
    width: 150px;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
}
.find{
    text-align: center;
    margin: 80px 180px 180px 25px;
    float: right;
    color: #fff;
    font-size: 25px;

}